* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}
.navbar {
  /* flex-wrap:warp; */
  /* padding: 0 10px; */
  height: 60px;
  width: 100%;
  background-color: #131921;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.navlogo {
  /* flex: 1; */
  height: 50px;
  width: 112px;
}
#logo {
  background-image: url("amazonlogo.png");
  height: 50px;
  width: 100%;
  background-size: cover;
  border-radius: 10px;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
  border-radius: 2px;
}

/* ....................box 2................................................. */

.address-first {
  color: #ccc;
  /* font-size: 0.85rem; */
  font-size: 1.7vh;
  font-weight: 400px;
  margin-left: 15px;
}
.address-second {
  /* font-size: 14px; */
  font-size: 1.75vh;
  font-weight: 700px;
  margin-left: 3px;
}
.add_icon {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* .......................................box3...................................... */

.nav_search {
  /* padding: 10px 4px 10px 3px ; */
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 620px;
  border-radius: 4px;
}
.whole:hover {
  border: 3px solid #ff9a17;
  border-radius: 6px;
}
.options {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search_input {
  width: 100%;
  padding: 7px 10px 10px 0px;
  font-size: 1rem;
  border: none;
}
.upload_file {
  background-color: #ffffff;
  color: #16171792;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0px 2px 0px 2px;
  width: 40px;
  height: 40px;
}
.upload_file:hover {
  background-color: #ccc;
  border: 0px solid #b3b3b3;
}
.search_icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  color: #0f1111;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.search_icon:hover {
  background-color: #cf812c;
  border: 0px solid #b3b3b3;
  color: #0a0a0a;
}
/* .sign_in{
  padding:0px 9px 10px ;
} */
.hello {
  font-size: 1.4vh;
}
.select_account {
  font-size: 0.85rem;
  font-size: 1.7vh;
  font-weight: 700;
}
.cart i {
  font-size: 2.8vh;
}
.cart {
  font-size: 0.8vh;
}
/* ........................................................NAV SECOND ........... */
.nav_content {
  height: 39px;
  background-color: #222f3d;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.panel_options p {
  margin-left: 15px;
  display: inline;
}
.shop {
  font-size: 0.9rem;
  font-weight: 700;
}
.panel_options {
  width: 70%;
  font-size: 0.85rem;
}
/* ..................................................HERO SECTION................ */
.hero-section {
  background-image: url("amazon1.jpg");
  background-size: cover;
  height: 400px;
  /* width:100%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.imgtext {
  height: 40px;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  margin: 25px;
}
.imgtext a {
  text-decoration: none;
  color: #007185;
}
/**shopsection**/
.shop_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  /* border: 2px solid black; */
  background-color: white;
  height: 400px;
  width: 23%;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.boximg1 {
  height: 300px;
  background-size: cover;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p {
  color:#007185;
}

/**Footer**/
footer{
margin-top: 15px;
}
.foot-panel1{
  background-color:#37475a ;
  color:white;
  height:50px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 0.85rem;

}
.foot-panel2{
  background-color: #222f3d;
  color:white;
  height:300px;
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 10px; */
}
ul{
  margin-top: 20px;
}
ul a{
  margin-top: 10px;
  font-size: 0.85rem;
  text-decoration: none;
  color:#dddddd;
  display: block;
}
.foot-panel3{
  height:70px;
  background-color:#222f3d ;
  color:white;
  border-top: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logox{
  background-image: url("amazonlogo.png");
  background-size: cover;
  height: 50px;
  width:110px;
  border-radius: 10px;
}
.foot-panel4{
  height:80px;
  background-color: #0f1111;
  color:white;
  font-size: 0.7rem;
  text-align: center;
/* display: flex;
justify-content: center;
align-items: center; */
}
.pages{
  padding-top: 25px;
}
.copyright{
  padding-top: 5px;
}

/* Mobile Phones (Portrait) */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .nav_search {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .search_input {
    width: 70%;
  }

  .options, .search_icon, .upload_file {
    width: auto;
    padding: 10px;
  }

  .shop_section {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  footer .foot-panel2 {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .foot-panel2 ul {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .navbar {
    height: 80px;
    padding: 0 20px;
  }

  .nav_search {
    width: 80%;
  }

  .shop_section {
    justify-content: space-around;
  }

  .box {
    width: 45%;
  }

  footer .foot-panel2 {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;
  }
}

/* Desktops */
@media only screen and (min-width: 768px) {
  .navbar {
    height: 60px;
  }

  .nav_search {
    width: 620px;
  }

  .box {
    width: 23%;
  }

  footer .foot-panel2 {
    flex-direction: row;
    justify-content: space-evenly;
  }
}




















